# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
# dist
# dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sqlite3
# *.txt

*.tsbuildinfo
# mangalib <
/mangalib/
/accounts
/manage.py
/serveur/backend/accounts
*/migrations/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg
*.egg-info/
# dist/
build/
*.tar.gz
*.zip

# Virtual environments
venv/
env/
.venv/
.env/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints/

# Environments variables and secrets
# .env
# *.env
*.secrets

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
desktop.ini

# Logs and temporary files
*.log
*.temp
*.tmp
*.bak

# Odoo specific
*.rptdesign
*.iml
odoo/custom/auto_backup/
*.deb
__manifest__.pyc
*.po~
