h1{
  background-color: rgb(7, 83, 60);
  color: #cc1c1c;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  
}
ul::after{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.bleu{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  color: #d4b920;
  
}
.viole{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  color: #0a1496;
}

.ma-table th, .ma-table td{
  border: 1px solid #011b05;
  padding: 8px;
  margin: 2px;
  align-self: center;
}





















/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
