 {% include 'mangalib/couche/begin_page.html' %}

 {% if user.is_authenticated %}
    <p>Connecté sous {{ user.username }} | <a href="{% url 'accounts:logout' %}">Déconnexion</a> </p>
  {% else %}
  <p> <a href="{% url 'accounts:login'%}">Connexion</a>  |
    <a href="{% url 'accounts:register' %}">Inscription</a></p>
  {% endif %}
<!--
    pour range le form
    en table -> form.as_table
    en p -> 

       <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Valider">
       </form>
  -->

  <h1 > Bienvenu sur mangalib {{livre.titre}}  </h1>
   <a href=" {% url 'mangalib:add_livre' %} ">[+] Ajouter livre</a> 
    <div class="ma-table">
  <table>
        <tr>
            <th>NOM</th>
            <th>AUTEUR</th>
            <th>QTE</th>
            <th colspan="2">ACTIONS</th>
        </tr>
  
      {% for livre in livres %}
      
      <tr>
      <td> <a href=" {% url 'mangalib:show' livre.id %} "> {{ livre.titre }} </a></td>
      <td> {{ livre.auteur}} </td>
      <td> {{ livre.quantity }} </td>
      <td><a href=" {% url 'mangalib:edit_livre' livre.id %} ">[e]</a></td>
      <td><a href=" {% url 'mangalib:del_livre' livre.id %} ">[-]</a></td>
    </tr>
      {% endfor %}
 

</table>
</div>
    {% include 'mangalib/couche/end_page.html' %}